.background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #000000 0%, #343572 100%);
}

.title {
  font-size: 48px;
  color: white;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.textarea {
  width: 90%;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(5px);
  margin: 20px;
  padding: 20px;
  height: 200px;
  font-family: "Nunito", sans-serif;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.textarea:focus {
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.25);
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 90%;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 40px;
  font-family: "Nunito", sans-serif;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input:focus {
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.25);
}

.dropdown {
  position: relative;
  width: 90%;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.selected {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

.menu {
  position: absolute;
  top: 110%;
  width: 100%;
  background: #1e1e3f;
  border-radius: 10px;
  overflow: hidden;
}

.menu div {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.menu div:hover {
  background: #353470;
}

.button {
  padding: 12px;
  width: 40%;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  color: #343572;
  font-weight: bold;
}

.button:hover {
  background: #8081aa;
  color: white;
}

.output {
  width: 90%;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(5px);
  margin: 40px 20px 20px 20px;
  padding: 20px;
  height: 200px;
  font-family: "Nunito", sans-serif;
}
